*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1.2;
    font-size: 18px;
    background-color: #f0f0f0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    -webkit-box-sizing: content-box;
    max-width: 1300px;
    box-sizing: content-box;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



/* .container_box {

    min-height: 815px;
    background-color: #000;
} */

.main-bg {

    min-height: 815px;
    background-color: hsl(217, 54%, 11%);
    margin: 120px auto;
    padding: 135px 0;


}

.card-bg {
    max-width: 320px;
    max-height: 540px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;

    -webkit-box-shadow: 4px 19px 8px 66px #0c192c;
    -moz-box-shadow: 4px 19px 8px 66px #0c192c;
    box-shadow: 4px 19px 8px 66px #0c192c;

    -webkit-box-shadow: -1px 18px 8px 17px #0c1729;
    -moz-box-shadow: -1px 18px 8px 17px #0c1729;
    box-shadow: -1px 18px 8px 17px #0c1729;
}

.Equilibrium {
    width: 270px;
    height: 270px;
    align-self: center;
    margin-bottom: 30px;
    border-radius: 5%;

}

.header {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-style: 24px;
}

.text {
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    margin-bottom: 20px;
}

.terms {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.price {
    color: hsl(178, 100%, 50%);
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 600;
}

.price:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: url('/images/icon-ethereum.svg') no-repeat;
    top: 0;
    left: 0;
}

.days {
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    position: relative;
    padding-left: 25px;
}

.days:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/images/icon-clock.svg') no-repeat;
}

.card-footer {
    display: flex;
    font-weight: 300;
    font-size: 18px;
    align-items: center;


}

.card-footer img {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
}

.author {
    color: hsl(215, 51%, 70%);
    position: relative;
    padding-left: 15px;

}

.card-footer:after {
    content: "";
    width: 270px;
    height: 1px;
    margin-bottom: 45px;
    position: absolute;
    display: block;
    background-color: hsl(215, 32%, 27%);
}

span {
    color: rgba(255, 255, 255, 0.9);
}